PORT=8080
ALLOWED_ORIGINS=http://localhost,http://localhost:3000
NODE_ENV=development

# 토큰 단방향 암호화 전용 핵심 키
AES_KEY_0=
AES_KEY_1=
AES_KEY_2=
AES_KEY_3=
AES_KEY_4=
AES_KEY_5=
AES_KEY_6=
AES_KEY_7=
AES_KEY_8=
AES_KEY_9=

# Database
DATABASE_NAME=postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Cache (redis)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_KEY_PREFIX=vd2:
CACHE_DEFAULT_TTL=300

# Slack Notification
SLACK_WEBHOOK_URL=

# Sentry Hook
SENTRY_CLIENT_SECRET=
SENTRY_DSN=