# Node.js 기본
node_modules/
pnpm-debug.log*

# 환경 변수 및 인증 정보
.env
.env.local
.env.*.local

# TypeScript
dist/
*.tsbuildinfo

# IDE 및 에디터 관련 파일
.idea/
.vscode/
*.swp
*.swo

# OS별 시스템 파일
.DS_Store
Thumbs.db

# 로그 파일
logs/
*.log
*.gz
*.out

# 빌드 및 캐시 파일
.cache/
build/
temp/
tmp/

# 테스트 출력
coverage/
*.lcov
